<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mawen.demo.mapper.EmployeeMapper">

    <resultMap id="defaultResultMap" type="com.mawen.demo.entity.Employee">
        <id column="id" property="id"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <result column="email_address" property="emailAddress"/>
    </resultMap>

    <select id="listAll" resultMap="defaultResultMap">
        select
            id,
            first_name,
            last_name,
            email_address
        from
            employees
    </select>
    <select id="selectById" resultMap="defaultResultMap">
        select
            id,
            first_name,
            last_name,
            email_address
        from
            employees
        where
            id = #{id}
    </select>


</mapper>